services:
  devcontainer:
    image: leros2
    build:
      context: ../
      dockerfile: Dockerfile
      args:
        ROS_DISTRO: jazzy
      target: workspace

    # === Tune this to your application ===
    network_mode: "host"
    ipc: "host"
    pid: "host"
    privileged: true
    # ===

    ports:
      - 3389:3389 # RDP

    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]

    command: /bin/bash
    tty: true
    stdin_open: true

    volumes:
      # - $HOME/.Xauthority:/root/.Xauthority  # X11 Passtrough
      # - /tmp/.X11-unix:/tmp/.X11-unix:rw     # X11 Passtrough
      # - ../limits.conf:/etc/security/limits.conf # Real-time privileges
      - ../:/home/ros/ros2_ws/src/leros2:cached # Workspace mount

    environment:
      # QT_X11_NO_MITSHM: 1  # X11 Passtrough
      # DISPLAY: $DISPLAY    # X11 Passtrough
      DISPLAY: :10.0 # RDP
      ROS_DOMAIN_ID: 100
      RCUTILS_COLORIZED_OUTPUT: 1
      RMW_IMPLEMENTATION: rmw_cyclonedds_cpp
      SHELL: /bin/bash

    cap_add:
      - SYS_NICE

    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856

  ursim:
    image: universalrobots/ursim_polyscopex:latest
    privileged: true
    ports:
      - 8000:80
      - 30001:30001
      - 30011:30011
      - 30002:30002
      - 30012:30012
      - 30004:30004
      - 30014:30014

    networks:
      ursim_net:
        ipv4_address: 192.168.56.101

    environment:
      - HOST_ARCH=arm64
      - ROBOT_TYPE=UR12e
    volumes:
      - ursim_data:/ur/bin/backend/applications

volumes:
  ursim_data:

networks:
  ursim_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.56.0/24